@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #4f46e5;
  --color-accent: #db2777;
  --color-neutral: #4b5563;
  --color-success: #16a34a;
  --color-warning: #facc15;
  --color-danger: #dc2626;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
  
  --rounded-btn: 0.5rem;
  --rounded-box: 1rem;
  --rounded-badge: 1.9rem;
}
